.main{
    height:100vh;
}
.header-main{
    width:100%;
    /*background-color: var(--primary);*/
}
.header-main h6{
    margin:20px 10px;
    margin-left:100px;
    margin-top:40px;
    color:var(--secondary);
    font-weight:bolder;
    font-size: 14px;
}
.grid-cont img{
    width:200%;
}
.left-absolute{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height:100vh;
    width:25vw;
    background:var(--secondary);
    position: absolute;
    right:0;
    top:0;
}
.header-main h6 svg{
    margin-right:10px;
    font-size:20px;
}
.header-main h1{
    margin-top:50px;
    color:var(--text);
    margin-left:40px;
}
.header-main h1 span{
    display:block;
    font-size:60px;
}
#img-empanadas{
    position: absolute;
    right:3.5vw;
    animation-name:images;
    animation-duration: 0.9s;
    animation-delay: 5;
    animation-iteration-count: infinite;
}
.header-main button{
    padding:15px;
    font-size:20px;
}
@media(max-width:500px){
    .left-absolute{
        width:100%;
        background:transparent;
    }
    .nav-menu{
        background-color:var(--white1);
        border-top-left-radius:100px;
        border-top-right-radius:100px;
        margin:0;
        width:100%;
        position:fixed;
        bottom:0px;
    }
    .nav-menu .what{
        position: fixed;
        bottom:0;
        top: 30px !important;
    }
    .nav-menu img{
        display:none
    }
    .nav-menu ul{
        justify-content:space-evenly;
        width:100%;
    }
    .nav-menu a{
        color:var(--black)
    }
    #img-empanadas{
        width:80vw;
        margin:auto;
        left:0;
        bottom: 0;
        top:0;
        right:0;
    }
    header h6{
        margin-left: 10px !important;;
    }
    header button{
        margin:auto;
        position: absolute;
        bottom:100px;
        left:0;
        right:0;
    }
    
}
/**Producto **/

.grid-productos{
    background-color:var(--green);
}
.productos{
    padding:20px;
    display:grid;
    grid-gap:20px;
    grid-template-columns:repeat(4,1fr);
}
.grid-productos .card:nth-child(3n+2) {
    background-color:var(--secondary);
}
.grid-productos .card:nth-child(5n+2) {
    background-color:var(--pink);
}
.grid-productos .card:nth-child(3n+2):hover {
    background-color:var(--pink);
}
.grid-productos .card:nth-child(5n+2):hover {
    background-color:var(--primary);
}
.grid-productos h2{
    text-align:center;
    padding:40px 0px;
    font-size:30px;
    color:var(--text);
}
@keyframes images {
    0%{transform:scale(1)}
    10%{transform:scale(0.99)}
    20%{transform:scale(0.98)}
    30%{transform:scale(0.97)}
    40%{transform:scale(0.96)}
    50%{transform:scale(0.95)}
    60%{transform:scale(0.96)}
    70%{transform:scale(0.97)}
    80%{transform:scale(0.98);}
    90%{transform:scale(0.99)}
    100%{transform:scale(1)}
}