.card{
    padding:10px;
    /* background-color:var(--primary); */
    border:0.7px solid var(--border1);
    border-radius:4px;
    color:var(--text);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    cursor:pointer;
    transition:100ms;
}
.card:hover{
    /* background-color:var(--secondary); */
    color:var(--border1);
    border:0.7px solid var(--border1);
}
.card-img{
    max-width:200px;
    object-fit:cover;
    border-radius: 4px;
}
.card-img img{
    width:95%;
    display:block;
    margin:auto;
}
.card-body{
    padding:20px 5px;
    text-align:center;
}
.card-body p{
    margin-top:20px;
}
