:root{
  --white1:rgba(250,250,250);
  --white2:rgb(230,230,230);
  --primary:rgb(0, 143, 55);
  --secondary:rgb(255, 173, 21);
  --text:rgba(0,0,0,0.8);
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Raleway';
  transition:250ms;
}
nav ul{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  list-style-type: none;
}
nav ul li{
  position: relative;
  border-radius:30px;
  padding:10px 15px;
  background-color:var(--white1);
  overflow: hidden;
}
nav ul a{
  position: inherit;
  z-index:4;
  text-decoration:none;
  color:var(--text);
  font-weight:bold;
}
nav ul li::before{
  z-index: 3;
  position: absolute;
  top:100px;
  left:0;
  background-color:var(--secondary);
  content:' ';
  display:block;
  width:100%;
  height:100%;
  transition:200ms;
}
nav ul li:hover::before{
  top:0;
}
nav ul li:hover a{
  color:var(--white1)
}