:root{
  --white1:rgba(250,250,250);
  --white2:rgb(230,230,230);
  --primary:#773F82;
  --secondary:#E99153;
  --text:rgb(255, 255, 255);
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Raleway';
  transition:250ms;
}
body{
  background-color:var(--primary);
}
nav{
  width:80%;
  margin-left:40px;
  padding:10px 20px;
  display:flex;
  align-items:center;
}
nav img{
  height:50px;
  object-fit:cover;
}
nav ul{
  width:50%;
  margin-left:30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  list-style-type: none;
}
nav ul li{
  position: relative;
  border-radius:30px;
  padding:10px 15px;
  overflow: hidden;
}
nav ul a{
  position: inherit;
  z-index:4;
  text-decoration:none;
  color:var(--text);
  font-weight:300;
}
nav ul li::before{
  z-index: 3;
  position: absolute;
  top:100px;
  left:0;
  background-color:var(--secondary);
  content:' ';
  display:block;
  width:100%;
  height:100%;
  transition:200ms;
}
nav ul li:hover::before{
  top:0;
}
nav ul li:hover a{
  color:var(--white1)
}
button{
  position: relative;
  margin:auto;
  background:transparent;
  border:2px solid var(--secondary);
  padding:10px;
  border-radius:100px;
  color:var(--text);
  overflow:hidden;
  cursor:pointer;
}
button span{
  position: relative;
  z-index: 3;
  font-weight:bold;
}
button::before{
  transition:200ms ease-in;
  padding:0;
  position: absolute;
  content:' ';
  display:block;
  width:100%;
  height:100%;
  background:var(--secondary);
  top:100%;
  border-radius:100px;
  left:200%;
}
button:hover::before{
  top:0;
  left:0;
}